*{padding: 0;
margin: 0;
box-sizing: border-box;}
.navbar{
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}
.welcome{
  font-size: 22px;
  text-align:left;
}
.welcome_box h2{
  font-size: 26px;
  text-align: center;
}
.welcome_box{
  width: 80%;
  margin: auto;
  border-radius: 10px;
  background: #A6E7E7 ;
  padding: 20px;
  
  
}
.welcome_box> div{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: left;
  align-items: center;
  align-content: center;
  
  
}
.welcome_box > div  h2{
  font-size: 14px;
  font-weight: lighter;
}

.welcome_box > div i{
  font-size: 14px;
}
.purchase{
  font-size: 24px;
  padding-bottom: 20px;
  
}



.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }